.poetry{
  .poetry-row{
    text-align: center;
    .paragraph{
      // width: 100%;
      display: inline-block;
      text-align: right;
      font-family: $secondFont;
      font-size: 18px;
      margin-bottom: 10px;
      label{
        margin-bottom: 0;
      }
      .right,
      .left{
        width: 200px;
        float: right;
      }
      .right{
        text-align: left;
        margin-left: 35px;
      }
      .left{
        text-align: right;
        margin-right: 35px;
      }
    }
    &:last-child{
      .paragraph{
        margin-bottom: 0;
      }
    }
  }
}
