<footer id="footer">
  <div class="container">
    <div class="row">
    <div class="col-12 col-md-8 d-md-block">
      <div class="footer-content">
        <h4 class="footer-title">{{'shared.footer.footertitle' | translate}}</h4>
        <p class="copyrights">{{copyRightsStr}}</p>
      </div>
      <div class=" links-holder">
        <ul class="links">
          <li><a href="/">{{'shared.footer.linkscondition' | translate}}</a></li>
        </ul>
      </div>
    </div>
    <div class="pull-left col-12 col-md-4  d-md-block"  dir="ltr">
      <div class="pull-left footer-content">
        <a class="foo_nav-link"
        href="https://apps.apple.com/qa/app/%D9%85%D8%B9%D8%AC%D9%85-%D8%A7%D9%84%D8%AF%D9%88%D8%AD%D8%A9-%D8%A7%D9%84%D8%AA%D8%A7%D8%B1%D9%8A%D8%AE%D9%8A/id1629930788"
        rel="noopener noreferrer nofollow" target="_blank"><img  class="store-img" width="110px" height="60px"  alt="apple store"
          height="" src="/assets/images/applestore.png" width=""></a>
      </div>
      <div class="pull-left footer-content">
        <a _ngcontent-doha-dictionary-c2=""
            class="foo_nav-link"
            href="https://play.google.com/store/apps/details?id=org.dohadictionary.doha_dict_app&amp;hl=en&amp;gl=US"
            rel="noopener noreferrer nofollow" target="_blank"><img class="store-img" width="110px" height="60px" alt="play store"
              height="" src="/assets/images/playstore.png" width=""></a>
      </div>
    </div>
  </div>
</div>
</footer>
