<div class="content-wrapper">
  <div class="badge-list">
    <h2>كلمة اليوم</h2>
  </div>

  <p class="title">
    بمناسبة #اليوم_العالمي_للغة_العربية، نظّم #معجم_الدوحة_التاريخي للغة العربية يوم الخميس 5 كانون الأول/ديسمبر 2024 ندوةً بعنوان: اللغة العربية ولسان الإعلام العربي"

  </p>

  <a class="author" href="/author/the-demo-author-slug">
    <div class="avatar">
      <img src="/assets/images/logo.svg" style="background-color: white;" alt="Foulcher Nathanil" />
      <span class="name">F</span>
    </div>
    <div>
      <h2 class="author-name">Foulcher Nathanil</h2>
      <span class="date">May 20, 2021</span>
    </div>
  </a>

  <div class="actions">
    <div class="likes-comments">
      <button class="like-btn">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="..." stroke="currentColor" stroke-width="1"></path>
        </svg>
        <span>34</span>
      </button>
      <a class="comments-btn" href="/single/demo-slug#comments">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="..." stroke="currentColor" stroke-width="1"></path>
        </svg>
        <span>110</span>
      </a>
    </div>
  </div>
</div>
