<mat-grid-list [cols]="breakpoint"
rowHeight="400px"
gutterSize="60px" class="zoom-container" (window:resize)="onResize($event)">
  <mat-grid-tile class="zoom-in">
    <latest-words class="grid-section"></latest-words>
  </mat-grid-tile>
  <mat-grid-tile class="zoom-in">
    <most-searched class="grid-section"></most-searched>
  </mat-grid-tile>
</mat-grid-list>
<br>
<div class="clearfix"></div>
<br>
<mat-grid-list [cols]="1"
rowHeight="400px"
gutterSize="60px" class="zoom-container" (window:resize)="onResize($event)">
  <mat-grid-tile class="zoom-in">
    <statistics-section class="grid-section-one-row"></statistics-section>
  </mat-grid-tile>
</mat-grid-list>
