<div class="services-section">
  <div class="services-container services-carousel">

    <owl-carousel-o [options]="carouselOptions">
      <ng-template carouselSlide>
        <div class="carousel-item" id="owl-slide-1">
          <div class="service-item">
            <div class="icon-holder"><span class="icon icon-calligraphy big-icon"
                (click)="redirectTo('about-dictionary')"></span></div>
            <h1 class="title">{{'home.dictionaryintro' | translate}}</h1>
            <p class="paragraph">{{'home.dictionaryintrodetail' | translate}}</p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide id="owl-slide-2">
        <div class="carousel-item">
          <div class="service-item">
            <div class="icon-holder"><span class="icon icon-arabic-history" (click)="redirectTo('dictionary')"></span>
            </div>
            <h1 class="title">{{'home.historicaldictionaryintro' | translate}}</h1>
            <p class="paragraph">{{'home.historicaldictionaryintrodetail' | translate}}</p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide id="owl-slide-3">
        <div class="carousel-item">
          <div class="service-item">
            <div class="icon-holder"><span class="icon icon-resources small-icon"
                (click)="redirectTo('bibliography')"></span></div>
            <h1 class="title">{{'home.bibliographyintro' | translate}}</h1>
            <p class="paragraph">{{'home.bibliographyintrodetail' | translate}}</p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide id="owl-slide-4">
        <div class="carousel-item">
          <div class="service-item">
            <div class="icon-holder"><span class="icon icon-paragraph" (click)="redirectTo('corpus')"></span></div>
            <h1 class="title">{{'home.corpusintro' | translate}}</h1>
            <p class="paragraph">{{'home.corpusintrodetail' | translate}}</p>
          </div>
        </div>
      </ng-template>

    </owl-carousel-o>

  </div>
</div>
