<div class="home-content" id="page-content">
  <div class="search-section">
    <div class="logo-watermark">
      <img src="/assets/images/logo-watermark.png" alt="Doha Dictionary">
    </div>
    <div class="container-fluid">
      <div class="carousel-container">
        <app-carousel-images-section [carouselImages]="images">
        </app-carousel-images-section>
      </div>
      <div class="today-word-section">
        <app-header-global-search></app-header-global-search>
        <div class="clearfix"></div>
        <br>
        <app-word-day-section></app-word-day-section>
      </div>
      <div class="clearfix"></div>

    </div>
  </div>

  <app-carousel-services-section></app-carousel-services-section>

  <!-- Dynamic Component Loading -->
  <div class="container">
    <app-dynamic-grid-section></app-dynamic-grid-section>
  </div>

  <div class="clearfix"></div>

  <div class="container" style="padding-top: 60px;">
    <mat-grid-list [cols]="1" rowHeight="150" gutterSize="60px">
      <mat-grid-tile class="section-body" style="padding-top: 60px;" [rowspan]="2">

        <mat-grid-tile-header class="section-header">
          <h3 class="section-title">
            شارك في المعجم
          </h3>
        </mat-grid-tile-header>

        <div class="section-body">

          <p>
            ندعو علماء اللّغة والباحثين المهتمّين إلى المشاركة في معجم الدّوحة التّاريخيّ للّغة العربيّة والتّفاعل
            البنّاء مع موادّه ومداخله. ونرحّب بأيّ ملحوظة تُصوّب خطأ محتملا، أو تستدرك لفظا أو معنى أو شاهدا أسبق
            تاريخا، أو غير ذلك من المعلومات المحددة في نموذج المشاركة.
          </p>
          <p *ngIf="!_sharedConfiguration.userInfo">إذا لم تكن مسجّلا، فيرجى تسجيل <a (click)="scrollTop($event)"
              class="link-btn" style="color: #ccaf41;">الدخول</a></p>
          <p>
            ولكي يتسنّى الاستفادة من الملحوظات على الوجه المنشود، نرجو الاطّلاع على منهج المعجم المبسوط في المقدّمة
            وفي الدّليل المعياريّ للتّحرير المعجميّ (ضمن خانة: عن المعجم، في بوابة المعجم)؛ مع الأخذ في الاعتبار أنّ
            الموادّ المعجميّة المنشورة – حتى اليوم – تنتمي إلى المرحلة التّاريخيّة الممتدّة من أقدم نصّ عربيّ مطبوع
            ومُوثّق.
          </p>
          <p>
            وتُعرَض الملحوظات المقترحة - بصفة دوريّة - على لجنة مختصّة للبتّ فيها.
          </p>


        </div>
      </mat-grid-tile>

    </mat-grid-list>



  </div>



  <div class="clearfix"></div>
  <app-carousel-socials-section></app-carousel-socials-section>
</div>
