.root-management {
  padding: 50px;
  .search-container {
    margin-bottom: 16px;
  }

  .search-field {
    width: 100%;
  }

  table {
    width: 100%;
  }

  .mat-header-cell,
  .mat-cell {
    text-align: center;
  }
}
