<div class="section">

  <div class="section-header">

    <h3 class="section-title">
      {{'shared.lastwordsection.latestwords' | translate}}
    </h3>

  </div>


  <div class="section-body">

    <div class="table-component">

      <div class="t-row word-item" *ngFor="let word of data">
        <div class="t-cell"><a [routerLink]="['/dictionary/', word.lemmaValue]" >{{ word.lemmaValue }}</a></div>
        <div class="t-cell">[{{ word.additionalTag }}]</div>

      </div>

    </div>

  </div>

</div>
