@import '../../../../scss/styles.scss';
.section{

  .tag{
    display: inline-block;
    font-size: 14px !important;
    color: #333;
    margin: 5px 3px;
    box-shadow: 1px 1px 3px #ccaf41;
    a{
      display: block;
      padding: 5px 8px;

      @media(max-width: $mobileStartWidth) {
        padding: 2px 5px;
      }
    }
    &:hover{
      color: $mainColor;
      background-color: #fff;
    }
  }
}

