<div class="gozor-component pull-left"  (click)="ShowGozor()">
  <div class="close-area" (click)="HideGozor()" *ngIf="_sharedRootComponentValues.showGozorList"></div>
    <input type="text" class="gozor-input" placeholder="{{'dictionary.searchname' | translate}}" [(ngModel)]="searchRootWord"
    (ngModelChange)="searchInRootFromSr()" [ngModelOptions]="{standalone: true}"  >

@if(_sharedRootComponentValues.showGozorList && _sharedRootComponentValues.rootList && _sharedRootComponentValues.rootList.length > 0){

    <app-root-list class="gozor-list" [selectedRootId]="selectedRootId" [ReachEnd]="ReachEnd" [ReachTop]="ReachTop"></app-root-list>
}

</div>
