<div class="section statistics-section">
  <mat-grid-tile-header class="section-header">
    <h3 class="section-title"> {{'home.chartssection.title' | translate}}</h3>
  </mat-grid-tile-header>

  <div class="section-body">

    <div class="chart"  *ngIf="(isBrowser&&(barCharData && barCharData.datasets && barCharData.datasets.length > 0))">
            <canvas
            baseChart
            [data]="barCharData"
            [options]="chartOptions"
            [type]="barCharType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"
          >
          </canvas>
    </div>


    <p class="paragraph" >
      {{'home.chartssection.paragraph' | translate}}
    </p>
    <a [routerLink]="['/charts']" class="show-more-btn"  *ngIf="!isAdmin">
      {{'home.chartssection.more' | translate}}
    </a>

  </div>

</div>
