<div id="page-content">
  <search-form></search-form>
  <div class="content-container">

    <div class="container">

      <div class="row">

        <main class="col-md-12 col-12 main-content">

          <div dir=RTL style="background-color: white;padding: 50px;">
            <h2 class="section-title main-color" style="text-align: center;">
              كلمة المعجم
            </h2>
            <p class="paragraph" dir="rtl" style="text-align: justify;">
              أطلق المركز العربي للأبحاث ودراسة السياسات مشروع بناء معجم تاريخي للغة العربية في الخامس والعشرين من شهر أيار/ مايو 2013،
              بعد عام ونصف من المناقشات التفصيلية بين نخبة من العلماء في ندوات الخبراء. ومنذ ذلك الحين، والعملُ مُستمر في
              عدة مجالات ومستويات، تأسيسا للقواعد وبناء للهياكل وتطويرا للمهارات وتجويدا للمنهج والمُخرجات ومُعالجة للإشكالات
              العلمية والتحدّيات، بتعاون بين المجلس العلمي والهيئة التنفيذية للمعجم. وقد تكلّلت تلك الجهود بإنجاز المرحلة
              الأولى من المعجم التاريخي للغة العربية، الممتدة منذ أقدم نص عربي مُوثق إلى نصوص العام 200 للهجرة.
            </p>
            <p class="paragraph" dir="rtl" style="text-align: justify;">
              ينفرد هذا المعجم برصد ألفاظ اللغة العربية منذ بدايات استعمالها في النقوش والنصوص، وما طرأ عليها من تغيّرات في مبانيها ومعانيها
              داخل سياقاتها النصية، متتبّعا الخط الزمني لهذا التطور. وبالنظر إلى تاريخ اللغة العربية الطويل وضخامة حجم نصوصها،
              يجري إنجاز المعجم على مراحل. ولذلك، نعرض عبر هذه البوّابة الإلكترونية مواد المرحلة الأولى، المتضمنة زهاء مئة
              ألف مدخل معجمي، كما نُقدّم عبرها عدة أنواع من الخدمات اللغوية والنصية والإحصائية.
            </p>
            <p class="paragraph" dir="rtl" style="text-align: justify;">
              شارك في بناء المعجم قرابة ثلاث مئة من أساتذة الجامعات والخبراء والعلماء في عدد من الدول العربية، من الأردن والإمارات وتونس
              والجزائر والسعودية وسوريا والعراق وفلسطين وقطر والكويت ولبنان وليبيا ومصر والمغرب وموريتانيا واليمن. واستفاد
              أعضاء الفرق المعجمية من دورات تدريبية وورش عمل. وتمكّن خبراء المعجم بفضل ذلك من توحيد منهجية العمل وفقا لضوابط
              الدليل المعياري للمعالجة والتحرير الذي وضعته الهيئة التنفيذية، والقائم أساسا على القرارات العلمية التي اتخذها
              المجلس العلمي، بعد مناقشات تفصيلية ودراسات معمقة.
            </p>
            <p class="paragraph" dir="rtl" style="text-align: justify;">
              ومما ينبغي تأكيده، أنه لا يمكن لمعجم تاريخي للغة العربية أن يدعي الشمول في استقراء ألفاظ اللغة ومعانيها أو الكمال في بناء
              مداخلها المعجمية، وما ينبغي له ذلك، أيا ما كان المجهود المبذول في إنجازه لأسباب موضوعية يصعب تجاوزها، منها:
            </p>
            <p class="paragraph" dir="rtl" style="text-align: justify;padding-right: 50px;">
              (أ) ضخامة نصوص العربية بصورة يصعب الادعاء بجمعها كلها واستقراء ألفاظها، ذلك لأن كثيرا منها لا يزال مخطوطا غير مطبوع ولا مُحقق،
              وغير قليل من المطبوع المحقق يحتاج إلى تحقيق؛
              <br> (ب) التنازع في نسبة النص الواحد إلى أكثر من مؤلف واحد، ووجود النص الواحد بروايات مختلفة؛
              <br> (ج) التضارب في تحديد تاريخ تأليف النص الواحد، وفي تاريخ وفاة المؤلف أو القائل.
              <br>
            </p>
            <p class="paragraph" dir="rtl" style="text-align: justify;">
              إن بناء مدخل معجمي للفظ واحد من الألفاظ يحتاج إلى التأكّد من صحة اللفظ في سياقه ونصه، والتأكد من صحة نسبة النص إلى مؤلفه
              أو قائله، والتأكّد من تاريخه. وغالباً ما يستلزم ذلك ترجيح رواية على رواية، أو قول على قول، أو تحقيق على تحقيق.
              ثم يأتي بعد كل ذلك استخلاص معنى اللفظ داخل سياقه ونصه وصياغة تعريف له وفق ضوابط التعريف المتفق عليها.

            </p>
            <p class="paragraph" dir="rtl" style="text-align: justify;">
            وعلاوة على ذلك، فإن المعجم الحالي محدود في مادته المقتصرة على الألفاظ المستخلصة من النقوش والنصوص الممتدة إلى العام 200 هـ،
            وذلك بحكم مرحلته الأولى. إلا أن مفهوم المرحلة مفهوم إجرائي مؤقت؛ إذ إن عددا من ألفاظ العربية ستوجد في نصوص ألفت
            في مراحل موالية مع أن ظهور استعمالها يعود إلى المرحلة الأولى. وينبغي استحضار كل ذلك في استعراض مداخله المعجمية
            التي ستعرف تغيرات في الألفاظ والمعاني في المراحل اللاحقة.
            </p>
            <p class="paragraph" dir="rtl" style="text-align: justify;">
            وبناء على ما تقدّم، فإن جميع العلماء والباحثين المهتمين مدعوون للمشاركة في عمليات التحديث والإغناء لهذا المعجم، ومُرحّب بتفاعلهم
            البناء مع مادته المنشورة، تعديلا وإغناءً واقتراحا؛ ذلك بأن من خصائص هذا المعجم أنه معجم مفتوح، وقابل للتحديث
            المستمر.
            </p>
            <p class="paragraph" dir="rtl" style="text-align: justify;">
            ولكي يكون التفاعل مثمرا وذا فائدة، ينبغي الاطلاع على الوثائق المنشورة في هذه البوابة بدءا من المقدمة والقرارات العلمية إلى
            الدليل المعياري للمعالجة المعجمية والتحرير، وذلك لمعرفة الضوابط العلمية والمنهجية المعتمدة في بنائه؛ والوقوف
            على مرحليته وحدوده. وبإمكان كل باحث أن يُعلّق على أي عنصر من عناصر المدخل المعجمي: عن اللفظ، والوسم، والتاريخ،
            والتعريف، والشاهد، واسم المستعمل، والمصدر. كما بإمكانه أيضا أن يُعلّق على المادة المعجمية المنشورة كلها.
            </p>
            <p class="paragraph" dir="rtl" style="text-align: justify;">
            إننا نعُدّ المرحلة الأولى من هذا المعجم مرحلة تأسيسية، ستتلوها بلا شك، عمليات التنقيح والتصويب والتحديث والإغناء والتطوير.
            وإننا لننرجو بصدق في أن يكون لجمهور الباحثين العرب نصيب وافر في الرقي بهذا المعجم إلى المستوى الذي يلبي الحاجة،
            ويليق بمكانة لغتنا العربية.
            </p>
            <p class="paragraph" dir="rtl" style="text-align: justify;">
            وقد حظي مشروع المعجم برعاية وتمويل سخي من سمو أمير دولة قطر الشيخ تميم بن حمد آل ثاني، كما مقر المركز العربي للأبحاث ومن
            ضمنه مشروع المعجم في الدوحة. ومن الوفاء أن يحمل هذا المشروع اسم: معجم الدوحة التاريخي للغة العربية.
            </p>
            <p class="paragraph" dir="rtl" style="text-align: left;">
              الهيئة التنفيذية لمعجم الدوحة التاريخي للغة العربية
            </p>
          </div>
        </main>

      </div>

    </div>
  </div>
</div>
