@import '../../../../../scss/styles.scss';

@media(max-width: 767px) {
  .table-component>.t-row {
    display: block !important;
  }
}

@media(max-width: 400px) {
  /*margin-right:-15px;
  margin-left:-15px;*/
}

.search-info {
  background-color: #fff;
  padding: 20px 15px;
}

.results-options {
  background-color: #ccc;
  border: 1px solid #dddada;
  padding: 15px 0;

  .option-holder {
    width: auto;
    display: inline-block;
    padding: 0 15px;

    @media(max-width: 600px) {
      display: block;
      margin-bottom: 10px;
    }

    .title {
      font-size: 14px;
      font-weight: 700;
      margin-left: 10px;
      display: inline-block;

      &:last-child {
        margin-left: 0;
      }
    }

  }
}

.search-results-section {
  @media(max-width: 767px) {
    .table-component>.t-row {
      display: block !important;
    }
  }

  @media(max-width: 400px) {
    margin-right: -15px;
    margin-left: -15px;
  }

  ::ng-deep .accordion-toggle {
    display: table !important;
    background-color: transparent !important;
    width: 100%;

    @media(max-width: 767px) {
      display: block !important;

      &:after {
        content: '';
        display: table;
        clear: both;
      }

      >.t-cell {
        width: auto !important;
        display: inline-block !important;
        float: left;
        margin-right: 20px;
        padding: 5px 0 !important;

        &:first-child {
          width: 100% !important;
          display: block !important;
          padding: 14px 0 !important;
          float: none;
          margin-right: 0;
        }

        &:last-child {
          position: absolute;
          left: 0;
          top: 0;
          float: none;
          margin-right: 0;
          padding: 14px 0 !important;
        }
      }
    }
  }

  ::ng-deep .panel {
    background: none;
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none;

    &.panel-default {

      >.panel-heading {
        background-color: transparent !important;
        box-shadow: none;
        border: unset;
        padding: 0;
        box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.9), inset 0 -2px 0 0 rgba(88, 32, 32, 0.1);

        @media(max-width: 767px) {
          position: relative;
          padding-left: 50px;
        }
      }

      .panel-body {
        position: relative;
        padding: 0;
        border-right: 1px solid #d6d6d6;
        border-top: none;
        box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.1);
      }
    }
  }

  ::ng-deep .accordion-body {
    .nav-tabs {

      >li {
        >a {
          border-radius: 0;
          border-color: #d6d6d6;
          border-right: none;
          margin: 0;
          background-color: #efefef;
        }

        &.active>a,
        &.active>a:focus,
        &.active>a:hover {
          border-bottom-color: #fff;
          background-color: #fff;
        }
      }

    }


    .links-row {
      background-color: #fff;
      padding: 8px 16px;
      box-shadow: inset 0 -1px 0 0 #b7b7b7, inset 0 -2px 0 0 #f7f8f8;

      .link-btn {
        font-size: 18px;
        padding: 5px 10px;
        border: 1px solid #ccc;
        margin-left: 12px;
        border-radius: 10px;
        &:hover {
          border-color: $mainColor;
        }
      }


    }

    .tab-main-content {
      box-shadow: inset 0 1px 0 0 #dedede;

    }
  }

  .item {
    .item-header {
      padding: 8px 15px;
      box-shadow: inset 0 -1px 0 0 #fff, inset 0 -2px 0 0 #e0e0e0;

      .date {
        font-size: 14px;
        font-weight: 700;

        color: $mainColorDark;
        display: inline-block;
        margin: 0;
      }
    }

    .item-body {
      padding-bottom: 15px;

      .definition {
        font-size: 18px;
        padding: 10px 60px 10px 15px;
      }
    }

    .item-footer {
      padding: 15px 15px 0;
    }

    .sequence-actions {
      display: inline-block;

      .action-btn {
        font-size: 16px;
        background-color: #fff;
        width: 32px;
        height: 32px;
        text-align: center;
        line-height: 32px;
        padding: 0;
        border: 1px solid #ccaf41;
        margin-left: 10px;
        border-radius: 5px;

        &:last-child {
          margin-left: 0;
        }

        &[disabled] {
          opacity: 0.7;
          border-color: #ccc;
          background-color: #ebebeb;
          cursor: not-allowed;
        }
      }
    }

    .item-actions {
      margin-top: 8px;
      float: left;

      .action-btn {
        padding-left: 0;
        color: #c7c7c7;

        &.bookmark {
          .on-hover {
            display: none;
          }
        }

        &:hover {
          &.copy {
            color: #999933;
          }

          &.messages {
            color: #cc6633;
          }

          &.quote {
            color: #339999;
          }

          &.bookmark {
            color: #cc0000;

            .icon {
              display: none;
            }

            .on-hover {
              display: initial;
            }
          }
        }

      }
    }

    .info-icon {
      font-size: 14px;
      margin-right: 5px;
      color: $blue;
      vertical-align: middle;
    }
  }

  .search-results {
    margin-bottom: 0;

    .item-row {
      ::ng-deep .panel-default>.panel-heading {
        background-color: #fbfbfb;
      }

      &:last-child {
        ::ng-deep .panel-default>.panel-heading {

          box-shadow: none;
        }
      }

      .item-value {
        width: 25%;

        &:first-child {
          width: 50%;
        }

        padding: 14px 0;
        font-size: 16px;
        font-weight: 400;
        color: #666;
        cursor: pointer;

        &:first-child {
          padding-right: 14px;
          color: #333;
        }

        &:last-child {
          text-align: left;
          padding-left: 14px;
        }

        &.date-cell {
          text-align: left;
          font-size: 12px;
        }

        &.toggler-btn {
          width: 50px;
          color: $mainColor;
          font-size: 12px;
          padding-top: 18px;
          padding-right: 15px;
        }

        .sequence-btn {
          font-size: 14px;
          vertical-align: middle;
          color: #fff;
          display: none;
        }

        .row-actions {
          display: none;
          font-size: 14px;
          border-left: 1px solid #fff;

          .icon {
            color: #fff;
            padding: 0;
            margin-left: 10px;
            vertical-align: middle;
          }
        }
      }

      &:hover {
        ::ng-deep .panel-default>.panel-heading {
          background-color: #fff;
        }
      }

      &.panel-open {
        ::ng-deep .panel-default {
          background-color: #f1f1f1;

          >.panel-heading {
            box-shadow: none;
          }
        }
      }

      &.panel-open {
        .item-value {
          &.toggler-btn {
            .row-toggler {
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }


}

.panel-open {
  .accordion-toggle {
    background-color: transparent !important;
  }
}
