<div id="page-content">
  <section class="page-search-section">
    <div class="logo-watermark">
      <img src="/assets/images/logo-watermark.png" alt="Doha Dictionary">
    </div>

    <div class="content-container">

      <div class="container">

        <div class="search-results-section">

          <div class="section-body" style=" padding-top: 30px;padding-bottom: 30px;display: grid;text-align: justify;">
            <h1>
              شارك في المعجم
            </h1>
            <p>
              ندعو علماء اللّغة والباحثين المهتمّين إلى المشاركة في معجم الدّوحة التّاريخيّ للّغة العربيّة والتّفاعل
              البنّاء مع موادّه ومداخله. ونرحّب بأيّ ملحوظة تُصوّب خطأ محتملا، أو تستدرك لفظا أو معنى أو شاهدا أسبق
              تاريخا، أو غير ذلك من المعلومات المحدّدة في الخانات في الأسفل.
            </p>
            <p>
              ولكي يتسنّى الاستفادة من الملحوظات على الوجه المنشود، نرجو الاطّلاع على منهج المعجم المبسوط في المقدّمة
              وفي الدّليل المعياريّ للتّحرير المعجميّ (ضمن خانة: عن المعجم، في بوابة المعجم)؛ مع الأخذ في الاعتبار أنّ
              الموادّ المعجميّة المنشورة – حتى اليوم – تنتمي إلى المرحلة التّاريخيّة الممتدّة من أقدم نصّ عربيّ مطبوع
              ومُوثّق إلى غاية العام 500 للهجرة.
            </p>
            <p>
              وتُعرَض الملحوظات المقترحة - بصفة دوريّة - على لجنة مختصّة للبتّ فيها.
            </p>
          </div>

        </div>

      </div>
    </div>


          <user-dic-comments-form></user-dic-comments-form>
  </section>

</div>
