<div class="form-holder" *ngIf="true">
  <div class="modal-header">
    <h4 class="modal-title text-center">
        {{'user-account.forget-password.forget-your-password' | translate}}
    </h4>
  </div>
  <div class="modal-body">
    @if(forgetPasswordForm){
    <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()" class="signup-page">

      <div class="form-group">

        <p class="paragraph">
            {{'user-account.forget-password.write-your-email' | translate}}
        </p>

        <input type="email" dir="ltr" formControlName="email" placeholder="{{'user-account.forget-password.email' | translate}}" class="form-input has-padding"
        [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"/>

        <p class="paragraph small">
            {{'user-account.forget-password.note-message' | translate}}
        </p>
      </div>


      <div class="form-group text-center">
        <button type="submit" [disabled]="loading" class="submit-btn">{{'user-account.forget-password.send' | translate}}</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
        />

      </div>


      <div class="form-footer">

        <p class="error-msg" *ngIf="(submitted && f['email'].errors && (f['email'].errors['required'] || f['email'].errors['pattern']))">
            {{'user-account.forget-password.invalid-email' | translate}}
        </p>

      </div>
    </form>
  }
  </div>

</div>
