@import '../../../../../../scss/styles.scss';
.page-search-section{
  [disabled]{
    opacity: 0.6;
    background-color: #fff;
    cursor: pointer;
  }
  .submit-btn:disabled{
    opacity: 0.5;
    background-color: #ccaf41;
    cursor: pointer;
  }

  .no-padding-right{
    padding-right: 0;
  }
  input{
    text-align: center;
  }
  .dropdown-select{
    .btn{
      text-align: center;
    }
  }

  .dropdown-with-input{
    position: relative;
    &.main-input{
      .dropdown-select{
        width: 155px;
      }
    }
    &:not(.main-input){
      .dropdown-select{
        width: 60px;
      }
    }
    &:not(.dropdown-left){
      .dropdown-select{
        right: 0;
      }
      &.main-input{
        input{
          padding-right: 155px;
        }
      }
      &:not(.main-input){
        input{
          padding-right: 60px;
        }
      }
    }
    &.dropdown-left{
      .dropdown-select{
        left: 0;
      }
      &.main-input{
        input{
          padding-left: 155px;
        }
      }
      &:not(.main-input){
        input{
          padding-left: 60px;
        }
      }
    }
    .dropdown-select{
      position: absolute;
      top: 0;


      .btn{
        text-align: right;
        box-shadow: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: none;
      }
    }
  }

  @media(max-width: 550px){
    .resources-dropdown{
      width: 100%;
    }
    .resources-date-input{
      width: 50%;
    }
    .resources-date-input{
      padding-right: 15px;
      margin-top: 15px
    }
  }

}
.advanced-input-row{
  margin-bottom: 20px;
  &:after{
    content: '';
    display: table;
    clear: both;
  }
  .input-title{
    width: 60px;
    line-height: 48px;
    font-size: 16px;
    font-weight: 700;
    padding-right: 0;
    padding-left: 0;
  }
  .input-col{
    padding-right: 8px;
    padding-left: 8px;
    width: calc(100% - 168px);
    @media(max-width: 550px){
      width: calc(100% - 138px);
    }
  }
  .action-col{
    width: 108px;
    @media(max-width: 550px){
      width: 78px;
    }
    padding-right: 0;
    padding-left: 0;
  }
  &.one-action{
    .input-col{
      width: calc(100% - 110px);
      @media(max-width: 550px){
        width: calc(100% - 95px);
      }
    }
    .action-col{
      width: 50px;
      padding-right: 0;
      padding-left: 0;
      @media(max-width: 550px){
        width: 35px;
      }
    }
  }
  .action-btn{
    width: 50px;
    @media(max-width: 550px){
      width: 35px;
    }
    height: 50px;
    float: left;
    line-height: 50px;
    font-size: 14px;
    text-align: center;
    padding: 0;
    color: $mainColor;
    background-color: #fff;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 5px;

    margin-right: 8px;
    &:last-child{
      margin-right: 0;
    }
  }

}

