  <ngb-carousel *ngIf="carouselImages">
    @for (slide of carouselImages; track slide; let i = $index) {
    <ng-template ngbSlide>
      <div class="wrapper">
        <img [src]="slide.url"  alt="Random third slide" class="absolute inset-0 object-cover rounded-3xl object-cover absolute inset-0 w-full h-full">
      </div>
       <!-- Overlay -->
     <div class="overlay absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center rounded-3xl">
    </div>
      <div class="carousel-caption">
        <h3>{{slide.title}}</h3>
      </div>
    </ng-template>
	}
  </ngb-carousel>
