<div class="bookmarks-empty-state">

  <div class="empty-image">
    <img src="/assets/images/bookmarks-empty.png" alt="empty bookmarks" draggable="false">
  </div>

  <div class="content">

    <p class="paragraph">
      
      ابدأ في حفظ
      
      <br>

      <a [routerLink]="['/dictionary']" class="bold">
        الجذاذات
      </a>
      ، 
      <a [routerLink]="['/dictionary']" class="bold">
        والفروع
      </a>
      ، 
      <a [routerLink]="['/corpus']" class="bold">
        والسياقات
      </a>
      ، 
      <a [routerLink]="['/bibliography']" class="bold">
        والمصادر
      </a>
      ، 
      <a [routerLink]="['/dictionary']" class="bold">
        ومعايير البحث
      </a>
    
      <br>

      لتسهيل الوصول للبيانات في المستقبل.

    </p>

  </div>

  
</div>
