<app-admin-container title="لوحة تحكم">

  <!-- Dynamic Component Loading -->
  <div class="dynamic-container">

    <mat-grid-list cols="2" rowHeight="6:4" class="zoom-container">
      <mat-grid-tile class="zoom-in"><statistics-section [isAdmin]="true"></statistics-section></mat-grid-tile>
      <mat-grid-tile class="zoom-in"><app-user-status-chart></app-user-status-chart></mat-grid-tile>
      <mat-grid-tile class="zoom-in"><most-searched [isAdmin]="true"></most-searched></mat-grid-tile>
      <mat-grid-tile class="zoom-in"><latest-words [isAdmin]="true"></latest-words></mat-grid-tile>
    </mat-grid-list>



  </div>
</app-admin-container>

