@import '../../../../scss/styles.scss';
.reset-password-section{
  position: relative;
  overflow: hidden;
}
.reset-password-form{
  position: relative;
  z-index: 2;
}
.form-title{
  font-size: 20px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 15px;
}
.form-description{
  font-size: 15px;
  margin-bottom: 20px;
}
.search-form{
  max-width: 380px;
  padding: 75px 15px;
  .submit-btn{
    padding: 10px 30px 8px;
    font-weight: 400;
  }
}
.input-holder{
  margin-bottom: 15px;
  input{
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    font-weight: 400;
  }
}
::ng-deep #footer {
  margin-top: 0 !important;
}
