<div id="page-content">

  <div class="reset-password-section">
    <div class="logo-watermark">
      <img src="/assets/images/logo-watermark.png" alt="Doha Dictionary">
    </div>
    <div class="container">
      <form class="search-form reset-password-form text-center" *ngIf="changePasswordForm" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <h3 class="form-title">
          تغيير كلمة المرور
        </h3>
        <p class="form-description">
          {{'user-account.reset-password.please-enter-newpassword' | translate}}
        </p>
        <div class="form-group input-row">

          <div class="form-group input-holder">
            <input type="password" [formGroup]="changePasswordForm" class="form-input text-center" formControlName="oldpassword" [ngClass]="{ 'is-invalid': submitted && f.oldpassword.errors }"
              placeholder="{{'user-account.reset-password.oldpassword' | translate}}">
            <div *ngIf="submitted && f.oldpassword.errors" class="error-msg invalid-feedback">
              <div *ngIf="f.oldpassword.errors.required">{{'shared.usersection.signup.passwordisrequired' | translate}}</div>
              <div *ngIf="f.oldpassword.errors.minlength">{{'shared.usersection.signup.passwordlength' | translate}}</div>
              <div *ngIf="f.oldpassword.errors.strong">{{'shared.usersection.signup.strongpassword' | translate}}</div>
            </div> 
          </div>
 
          <div class="form-group input-holder">
            <input type="password" [formGroup]="changePasswordForm" class="form-input text-center" formControlName="newpassword" [ngClass]="{ 'is-invalid': submitted && f.newpassword.errors }"
              placeholder="{{'user-account.reset-password.newpassword' | translate}}">
            <div *ngIf="submitted && f.newpassword.errors" class="error-msg invalid-feedback">
              <div *ngIf="f.newpassword.errors.required">{{'shared.usersection.signup.passwordisrequired' | translate}}</div>
              <div *ngIf="f.newpassword.errors.minlength">{{'shared.usersection.signup.passwordlength' | translate}}</div>
              <div *ngIf="f.newpassword.errors.strong">{{'shared.usersection.signup.strongpassword' | translate}}</div>
            </div>
          </div>

          <div class="form-group input-holder">
            <input type="password" placeholder="{{'shared.usersection.signup.confirmpassword' | translate}}" formControlName="confirmpassword"
              class="form-input text-center" [formGroup]="changePasswordForm" [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors }"
            />
            <div *ngIf="submitted && f.confirmpassword.errors" class="error-msg invalid-feedback">
              <div *ngIf="f.confirmpassword.errors.required">{{'shared.usersection.signup.confirmpasswordisrequired' | translate}}</div>
              <div *ngIf="f.confirmpassword.errors.minlength">{{'shared.usersection.signup.confirmpasswordlength' | translate}}</div>
              <div *ngIf="f.confirmpassword.errors.MatchPassword">{{'shared.usersection.signup.confirmpasswordmatch' | translate}}</div>
            </div>
          </div>
          <p class="paragraph small" *ngIf="passwordAlreadyExist">
            {{'user-account.reset-password.errors.PasswordAlreadyExist' | translate}}
          </p>
          <p class="paragraph small" *ngIf="InvalidOldPassword">
            {{'user-account.reset-password.errors.InvalidOldPassword' | translate}}
          </p>
        </div>
        <button type="submit" [disabled]="loading" class="submit-btn">{{'user-account.reset-password.submit-btn' | translate}}</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
        />
        <button class="submit-btn" type="button" (click)="onCancel()">
          {{'user-account.reset-password.cancel-btn' | translate}}
        </button>
      </form>
    </div>
  </div>

</div>